# version: '3.9' # https://docs.docker.com/compose/compose-file/compose-file-v3/
services:
  service-nginx-proxy-manager:
    container_name: service-nginx-proxy-manager
    image: jc21/nginx-proxy-manager:2.13.5 # https://hub.docker.com/r/jc21/nginx-proxy-manager
    restart: unless-stopped
    ports:
      - "80:80"
      - "81:81"
      - "443:443"
    volumes:
      - volume-nginx-proxy-manager-data:/data
      - volume-nginx-proxy-manager-ssl:/etc/letsencrypt
    networks:
      - network-infra

  service-nginx-static1-buka-sh:
    container_name: service-nginx-static1-buka-sh
    restart: always
    image: nginx:latest
    volumes:
      - ./config/docker/nginx/nginx.static1.buka.sh.conf:/etc/nginx/conf.d/default.conf
      - ./projects/static1.buka.sh:/app/static1.buka.sh
    networks:
      - network-infra

  service-nginx-api1-buka-sh:
    container_name: service-nginx-api1-buka-sh
    restart: always
    image: nginx:latest
    volumes:
      - ./config/docker/nginx/nginx.api1.buka.sh.conf:/etc/nginx/conf.d/default.conf
      - ./config/docker/htpasswd:/app/htpasswd
      - ./projects/api1.buka.sh:/app/api1.buka.sh
    networks:
      - network-infra
    depends_on:
      service-mysql:
        condition: service_healthy

  service-php85:
    container_name: service-php85
    build: ./config/docker/php/8.5
    restart: always
    volumes:
      - ./projects/api.buka.sh:/app/api.buka.sh
      - ./projects/api1.buka.sh:/app/api1.buka.sh
    networks:
      - network-infra
    depends_on:
      service-mysql:
        condition: service_healthy
    entrypoint: >
      sh -c "
        chown -R www-data:www-data /app/api1.buka.sh/storage /app/api1.buka.sh/bootstrap/cache && cd /app/api1.buka.sh && composer update &&
        docker-php-entrypoint php-fpm
      "

networks:
  network-infra:
    name: network-infra

volumes:
  volume-nginx-proxy-manager-data:
    name: volume-nginx-proxy-manager-data
  volume-nginx-proxy-manager-ssl:
    name: volume-nginx-proxy-manager-ssl
